<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Product Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.rawgit.com/stefanoturcarelli/assets/main/reset.css">
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
                <h1>
                    @Html.ActionLink("Furni", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </h1>
                <div class="menu-titles-container collapse navbar-collapse">
                    <ul class="ul-navigation-bar navbar-nav">
                        @if (!ViewContext.RouteData.Values["Controller"].ToString().Equals("Home") || !ViewContext.RouteData.Values["Action"].ToString().Equals("Index"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("See products", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stefano Turcarelli</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
